<%- include("partials/header") %>

<h1> > Registration form here</h1>

<form action="/register" method="post">
    <input type="text" name="username" id="" placeholder="User Name">
    <input type="password" name="password" id="" placeholder="Password">
    <input type="submit" value="Sign Up">
</form>

<%- include("partials/footer") %> 